# Name:purushotam pd kurmi
# Roll:21052946

In [3]:
import pandas as pd
import pandas as pd

# import the dataset

In [5]:
df = pd.read_csv("salaries.csv")
df.shape
df.head

<bound method NDFrame.head of          rank discipline   phd  service  gender    salary
0        Prof          B  56.0       49    Male  186960.0
1        Prof          A  12.0        6    Male   93000.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
..        ...        ...   ...      ...     ...       ...
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

[78 rows x 6 columns]>

# Display how many rows and how many columns

In [13]:
df.shape

(78, 6)

# Display first 10 rows atleast 15 rows

In [14]:
df[10:16]

        rank discipline   phd  service gender    salary
10      Prof          B  39.0       33   Male  128250.0
11      Prof          B  23.0       23   Male  134778.0
12  AsstProf          B   1.0        0   Male   88000.0
13      Prof          B   NaN       33   Male  162200.0
14      Prof          B  25.0       19   Male  153750.0
15      Prof          B  17.0        3   Male  150480.0

# Which male and female professor has the highest and the lowest salaries

In [18]:
df_gender=df['gender']

In [25]:
male=df_gender[:39]

In [26]:
female=df_gender[39:]

In [40]:
grouped = df.groupby('gender')['salary'].agg(['mean', 'max', 'min'])

In [41]:
highest_male_salary = df[df['salary'] == grouped.loc['Male', 'max']]
lowest_male_salary = df[df['salary'] == grouped.loc['Male', 'min']]
highest_female_salary = df[df['salary'] == grouped.loc['Female', 'max']]
lowest_female_salary = df[df['salary'] == grouped.loc['Female', 'min']]

In [45]:
print("Highest Male Professor Salary:")
print(highest_male_salary[['gender', 'salary']])

print("\nLowest Male Professor Salary:")
print(lowest_male_salary[['gender', 'salary']])

print("\nHighest Female Professor salary:")
print(highest_female_salary[['gender', 'salary']])

print("\nLowest Female Professor Salary:")
print(lowest_female_salary[['gender', 'salary']])

Highest Male Professor Salary:
  gender    salary
0   Male  186960.0

Lowest Male Professor Salary:
  gender   salary
9   Male  57800.0

Highest Female Professor salary:
    gender    salary
72  Female  161101.0

Lowest Female Professor Salary:
    gender   salary
54  Female  62884.0

# Which professor take the highest and lowest salaries

In [50]:
male_professors = df[df['gender'] == 'Male']

In [54]:
highest_male_salary = male_professors.loc[male_professors['salary'].idxmax()]

In [55]:
highest_male_salary

rank              Prof
discipline           B
phd               56.0
service             49
gender            Male
salary        186960.0
Name: 0, dtype: object

In [56]:
lowest_male_salary = male_professors.loc[male_professors['salary'].idxmin()]

In [57]:
lowest_male_salary

rank             Prof
discipline          A
phd              51.0
service            51
gender           Male
salary        57800.0
Name: 9, dtype: object

In [58]:
female_professors = df[df['gender'] == 'Female']

In [59]:
highest_female_salary = female_professors.loc[female_professors['salary'].idxmax()]
lowest_female_salary = female_professors.loc[female_professors['salary'].idxmin()]

In [60]:
print("Highest salary for male professor:", highest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Lowest salary for male professor:", lowest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Highest salary for female professor:", highest_female_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Lowest salary for female professor:", lowest_female_salary[['rank', 'discipline', 'phd', 'service', 'salary']])

Highest salary for male professor: rank              Prof
discipline           B
phd               56.0
service             49
salary        186960.0
Name: 0, dtype: object
Lowest salary for male professor: rank             Prof
discipline          A
phd              51.0
service            51
salary        57800.0
Name: 9, dtype: object
Highest salary for female professor: rank              Prof
discipline           B
phd               24.0
service             15
salary        161101.0
Name: 72, dtype: object
Lowest salary for female professor: rank          AssocProf
discipline            A
phd                25.0
service              22
salary          62884.0
Name: 54, dtype: object

# Missing Salaries - should be replaced as mean of the matching salaries of those whose 'service' is the same

In [61]:
df['salary'] = df.groupby('service')['salary'].transform(lambda x: x.fillna(x.mean()))

In [62]:
df = df.dropna(subset=['salary'])

In [63]:
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')

In [64]:
male_professors = df[df['gender'] == 'Male']

In [65]:
highest_male_salary = male_professors.loc[male_professors['salary'].idxmax()]

In [66]:
lowest_male_salary = male_professors.loc[male_professors['salary'].idxmin()]

In [67]:
female_professors = df[df['gender'] == 'Female']

In [68]:
highest_female_salary = female_professors.loc[female_professors['salary'].idxmax()]
lowest_female_salary = female_professors.loc[female_professors['salary'].idxmin()]

In [69]:
print("Highest salary for male professor:", highest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Lowest salary for male professor:", lowest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Highest salary for female professor:", highest_female_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Lowest salary for female professor:", lowest_female_salary[['rank', 'discipline', 'phd', 'service', 'salary']])

Highest salary for male professor: rank              Prof
discipline           B
phd               56.0
service             49
salary        186960.0
Name: 0, dtype: object
Lowest salary for male professor: rank             Prof
discipline          A
phd              51.0
service            51
salary        57800.0
Name: 9, dtype: object
Highest salary for female professor: rank              Prof
discipline           B
phd               24.0
service             15
salary        161101.0
Name: 72, dtype: object
Lowest salary for female professor: rank          AssocProf
discipline            A
phd                25.0
service              22
salary          62884.0
Name: 54, dtype: object

# Missing 'phd' - should be replaced as mean of the matching 'service'

In [70]:
df['phd'] = df.groupby('service')['phd'].transform(lambda x: x.fillna(x.mean()))

In [71]:
df['phd'].fillna(df['phd'].mean(), inplace=True)

In [72]:
df['salary'] = df.groupby('service')['salary'].transform(lambda x: x.fillna(x.mean()))

In [73]:
df = df.dropna(subset=['phd', 'salary'])

In [74]:
male_professors = df[df['gender'] == 'Male']

In [75]:
highest_male_salary = male_professors.loc[male_professors['salary'].idxmax()]

In [76]:
lowest_male_salary = male_professors.loc[male_professors['salary'].idxmin()]

In [77]:
female_professors = df[df['gender'] == 'Female']

In [78]:
highest_female_salary = female_professors.loc[female_professors['salary'].idxmax()]
lowest_female_salary = female_professors.loc[female_professors['salary'].idxmin()]

In [81]:
print("Highest salary for male professor:", highest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Lowest salary for male professor:", lowest_male_salary[['rank', 'discipline', 'phd', 'service', 'salary']])
print("Highest salary for female professor:", highest_female_salary[['rank', 'discipline', 'phd', 'service', 'salary']])

Highest salary for male professor: rank              Prof
discipline           B
phd               56.0
service             49
salary        186960.0
Name: 0, dtype: object
Lowest salary for male professor: rank             Prof
discipline          A
phd              51.0
service            51
salary        57800.0
Name: 9, dtype: object
Highest salary for female professor: rank              Prof
discipline           B
phd               24.0
service             15
salary        161101.0
Name: 72, dtype: object

In [85]:
lowest_female_salary[['rank', 'discipline', 'phd', 'service','salary']]

rank          AssocProf
discipline            A
phd                25.0
service              22
salary          62884.0
Name: 54, dtype: object

# How many are Male Staff and how many are Female Staffs.

In [86]:
male_count = df[df['gender'] == 'Male'].shape[0]
female_count = df[df['gender'] == 'Female'].shape[0]

In [88]:
male_count

39

In [89]:
female_count

39

# How many are Prof, AssocProf and Asst. Prof.

In [90]:
prof_count = df[df['rank'] == 'Prof'].shape[0]
assoc_prof_count = df[df['rank'] == 'AssocProf'].shape[0]
asst_prof_count = df[df['rank'] == 'AsstProf'].shape[0]

In [91]:
print("Number of Professors (Prof):", prof_count)
print("Number of Associate Professors (AssocProf):", assoc_prof_count)
print("Number of Assistant Professors (AsstProf):", asst_prof_count)

Number of Professors (Prof): 46
Number of Associate Professors (AssocProf): 13
Number of Assistant Professors (AsstProf): 19

# Who are the senior and junior most employees in the organization?

In [92]:
senior_employee = df.loc[df['service'].idxmax()]

In [93]:
junior_employee = df.loc[df['service'].idxmin()]

In [95]:
senior_employee

rank             Prof
discipline          A
phd              51.0
service            51
gender           Male
salary        57800.0
Name: 9, dtype: object

In [96]:
junior_employee

rank          AsstProf
discipline           B
phd                1.0
service              0
gender            Male
salary         88000.0
Name: 12, dtype: object